<!DOCTYPE html>
<html data-theme="corporate">
  {{ template "meta_head.html" . }}

  <body>
    {{ template "nav_login.html" . }}
    <div class="flex items-center mt-4 h-4/5">
      <div class="flex-1"></div>
      <div class="flex-2 card rounded-2xl shadow-2xl h-full w-2/3 mt-4">
        <div class="card-body place-items-center">
          <span class="text-3xl">{{ .Welcome }}</span>
          <div class="card-actions w-1/2 mt-20">
            <form
              id="signup-form"
              hx-boost="true"
              method="POST"
              action="/login"
            >
              <span class="text-gray-500 text-sm">{{ .Email }}</span>
              <input
                value=""
                name="email"
                type="text"
                placeholder="{{ .Email }}"
                class="input input-bordered w-full mt-2 mb-2"
              />
              <span class="text-gray-500 text-sm">{{ .Password }}</span>
              <input
                value=""
                name="password"
                type="password"
                placeholder="{{ .Password }}"
                class="input input-bordered w-full mt-2"
              />
              <button submit class="btn btn-primary w-full mt-10">
                {{ .SignIn }}
              </button>
            </form>
          </div>
          <div>
            <span class="text-sm text-gray-400">{{ .Or }}</span>
          </div>
          <div>
            <button class="btn btn-ghost">
              <a href="/signup">{{ .SignUp }}</a>
            </button>
          </div>
        </div>
      </div>
      <div class="flex-1"></div>
    </div>
    <!-- {{ template "footer.html" . }} -->
  </body>
</html>
