<html>
  <head>
    <title>{{ .Title }}</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: '#da373d',
            },
          },
        },
      };
    </script>
  </head>

  <body>
    <h1 class="text-3xl font-bold underline text-clifford">
      This is a login page
    </h1>
    <div>
      <!-- TODO: -->
    </div>
  </body>
</html>
