<html data-theme="corporate">
  {{ template "head.html" . }}

  <body>
    {{ template "nav_login.html" . }}
    <div class="flex items-center mt-16 h-3/4">
      <div class="flex-1"></div>
      <div
        class="flex-2 card rounded-2xl shadow-2xl h-full w-2/3 mt-10 place-self-center"
      >
        <div class="card-body">
          <span class="place-self-center text-3xl">{{ .Welcome }}</span>
          <div class="card-actions place-self-center w-1/2 mt-20">
            <span class="text-gray-500 text-sm">{{ .Email }}</span>
            <input
              type="text"
              placeholder="{{ .Email }}"
              class="input input-bordered w-full"
            />
            <span class="text-gray-500 text-sm mt-4">{{ .Password }}</span>
            <input
              type="text"
              placeholder="{{ .Password }}"
              class="input input-bordered w-full"
            />
            <button class="btn btn-primary w-full mt-10">{{ .SignUp }}</button>
          </div>
          <div class="place-self-center mt-4">
            <span class="text-sm">
              {{ .AlreadHaveAccount }}
              <a class="text-sky-600" href="/login">{{ .SignIn }}</a>
            </span>
          </div>
        </div>
      </div>
      <div class="flex-1"></div>
    </div>
  </body>
</html>
