<!DOCTYPE html>
<html data-theme="corporate">
  <head>
    <title>{{ .SignUp }}</title>
    {{ template "meta_head.html" . }}
  </head>

  <body>
    {{ template "nav_login.html" . }}
    <div class="flex items-center mt-4 h-4/5">
      <div class="flex-1"></div>
      <div class="flex-2 card rounded-2xl shadow-2xl h-full w-2/3 mt-4">
        <div class="card-body place-items-center">
          <span class="text-3xl">{{ .Welcome }}</span>
          <div class="card-actions w-2/3 mt-20">
            <form id="signup-form" hx-boost="true" method="POST" action="/user">
              <span class="text-gray-500 text-sm">{{ .Username }}</span>
              <input
                value=""
                name="name"
                type="text"
                placeholder="{{ .Username }}"
                class="input input-bordered w-full mt-2 mb-2"
              />
              <span class="text-gray-500 text-sm">{{ .Email }}</span>
              <input
                value=""
                name="email"
                type="text"
                placeholder="{{ .Email }}"
                class="input input-bordered w-full mt-2 mb-2"
              />
              <span class="text-gray-500 text-sm">{{ .Password }}</span>
              <input
                value=""
                name="password"
                type="password"
                placeholder="{{ .Password }}"
                class="input input-bordered w-full mt-2"
              />
              <button submit class="btn btn-primary w-full mt-10">
                {{ .SignUp }}
              </button>
            </form>
          </div>

          <div class="mt-4">
            <span class="text-sm">
              {{ .AlreadHaveAccount }}
              <a class="text-sky-600" href="/login">{{ .SignIn }}</a>
            </span>
          </div>
        </div>
      </div>
      <div class="flex-1"></div>
    </div>
  </body>
</html>
