<!DOCTYPE html>
<html data-theme="{{ .Theme }}">
  <head>
    <title>{{ .VersionReleaseCreate }}</title>
    {{ template "meta_head.html" . }}
  </head>

  <body>
    <div class="flex h-screen">
      {{ template "side_menu.html" . }}

      <div class="flex flex-col flex-1 overflow-hidden">
        {{ template "nav_main.html" . }}

        <main class="flex-1 p-5">
          <div>
            <form
              method="POST"
              id="create-version_release-form"
              hx-boost="true"
              action="/version_release"
            >
              <span class="text-sm">{{ .VersionName }}{{ .Colon }}</span>
              <input
                value=""
                name="version_name"
                type="text"
                placeholder="{{ .VersionName }}"
                class="input input-bordered w-full mt-2 mb-2"
              />
              <span class="text-sm">{{ .Project }}{{ .Colon }}</span>
              <select name="project_id" type="number" class="select select-bordered w-full mt-2 mb-2">
                {{ range .Projects }}
                <option value="{{ .ID }}">{{ .Name }}</option>
                {{ end }}
              </select>
              <span class="text-sm">{{ .VersionReleaseDate }}{{ .Colon }}</span>
              <!-- FIXME: datepicker -->
              <div class="relative max-w-sm">
                <div
                  class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
                >
                  <svg
                    class="w-4 h-4 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                    />
                  </svg>
                </div>
                <input
                  datepicker
                  datepicker-format="yyyy-mm-dd"
                  datepicker-buttons
                  name="release_date"
                  type="text"
                  class="mt-2 mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Select date"
                />
              </div>

              <span class="text-sm">{{ .CommitId }}{{ .Colon }}</span>
              <input
                value=""
                name="commit_id"
                type="text"
                placeholder="{{ .CommitId }}"
                class="input input-bordered w-full mt-2 mb-2"
              />

              <span class="text-sm">{{ .Branch }}{{ .Colon }}</span>
              <input
                value=""
                name="branch"
                type="text"
                placeholder="{{ .Branch }}"
                class="input input-bordered w-full mt-2 mb-2"
              />

              <span class="text-sm">{{ .TagName }}{{ .Colon }}</span>
              <input
                value=""
                name="tag_name"
                type="text"
                placeholder="{{ .TagName }}"
                class="input input-bordered w-full mt-2 mb-2"
              />

              <span class="text-sm">{{ .Artifactory }}{{ .Colon }}</span>
              <input
                value=""
                name="artifactory"
                type="text"
                placeholder="{{ .Artifactory }}"
                class="input input-bordered w-full mt-2 mb-2"
              />

              <span class="text-sm">{{ .ReleaseNote }}{{ .Colon }}</span>
              <textarea
                value=""
                name="release_note"
                type="textarea"
                placeholder="{{ .ReleaseNote }}"
                class="input input-bordered w-full mt-2 mb-2"
              ></textarea>

              <button submit class="btn btn-primary w-full mt-10">
                {{ .Confirm }}
              </button>
            </form>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
