<div
  class="navbar bg-base-100 rid grid-rows-1 grid-cols-3 gap-4"
>
  <div>
    <a class="btn btn-ghost normal-case text-xl">CIRCUIT</a>
  </div>
  <div class="place-self-center w-full">
    <input
      type="text"
      placeholder="Search"
      class="input input-bordered w-full rounded-full"
    />
  </div>
  <div class="justify-end">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="/assets/images/user.png" />
        </div>
      </label>
      <ul
        tabindex="0"
        class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52"
      >
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
