<div class="flex bg-transparent flex-col w-1/5">
  <div>
    <a class="btn btn-ghost normal-case text-2xl">CIRCUIT</a>
  </div>
  <ul class="menu">
    <li>
      <h1 class="menu-title">{{ .Dashboard }}</h1>
      <ul>
        <li><a href="">TODO:</a></li>
      </ul>
    </li>
    <li>
      <h1 class="menu-title">{{ .Project }}</h1>
      <ul>
        <li><a href="/projects">{{ .ProjectList }}</a></li>
      </ul>
    </li>
    <li>
      <h1 class="menu-title">{{ .VersionRelease }}</h1>
      <ul>
        <li><a href="/version_release/create">创建发布版本</a></li>
      </ul>
    </li>
  </ul>
</div>
